---
layout: page
title: Writing
tagline: Musings written down for safekeeping
no-max-width: true
pagination:
  enabled: true
---

{% assign all_tags = '' %}

{% for tag in site.tags %}
  {% if forloop.first == true %}
  {% assign all_tags = all_tags | append: tag[0] %}
  {% else %}
    {% assign all_tags = all_tags | append: '|' | append: tag[0] %}
  {% endif %}
{% endfor %}

{% assign all_tags_array = all_tags | split: '|' | sort %}

<div class="resp-max-width">
  <p>
    You can either scroll down for a straight archive or all my archive, or click one of the below tags to see writing from a specific category. <a class="hidden" id="random-post-link">Or surprise yourself with a totally random blog post.</a>
  </p>

  {% include tags.html
    tags=all_tags_array
    wrapper_classes='mx-auto flex-justify-center'
    tag_classes='mb-2 bg-action-dark'
    link_classes='text-mono-white'
  %}

  <img class="illustration" src="/assets/images/eastwood/knitting-words.png" alt="" />
</div>

<section class="resp-max-width card-layout">
  {% for post in paginator.posts %}
    {% include card.html
      class="card--layout-item"
      title=post.title
      date=post.date
      excerpt=post.excerpt
      image=post.image
      url=post.url
      tags=post.tags
    %}
  {% endfor %}
</section>

<div class="resp-max-width">
  {% include paginationlinks.html
    paginator=paginator
  %}
</div>
