---
layout: default
title: Homepage
---

<div class="p-4 bg-white shadow-md">
  <div class="max-w-md mx-auto xl:px-4">
    <h1 class="mt-0">
      Hello Readers.
    </h1>
    <p>
      I’m Max Antonucci, a front-end developer in New Haven, CT. My code obsessions include CSS, web accessibility, design systems, and however much JavaScript my brain can handle.
    </p>

    <p class="mb-0">
      I'm working at <a href="https://seeclickfix.com/" target="_blank" rel="noopener">SeeClickFix</a>, an app that helps citizens report local issues to municipal governments. You can see other work I've done at my <a href="https://github.com/maxx1128" target="_blank" rel="noopener">Github</a> and <a href="http://codepen.io/max1128/" target="_blank" rel="noopener">CodePen</a> profiles, and <a href="https://maxx1128.gitbook.io/study-notebook/" target="_blank" rel="noopener">my online notebook</a>. In my spare time I write about coding, my life, and <a href="/notes.html">random musings.</a>
    </p>
  </div>
</div>

<div class="max-w-md mx-auto">
  <section class="card-wrapper p-4">
    <h2>
      Recent Writing
    </h2>
    {% for post in site.posts limit: 2 %}
      <article class="card">
        {% if post.image %}
          <img src="/assets/images/featured/{{ post.image }}" alt="">
        {% endif %}
        <h3 class="mt-4">
          {% if post.external %}
            <a href="{{ post.link }}" target="_blank" rel="noopener">
          {% else %}
            <a href="{{ post.url }}">
          {% endif %}
            {{ post.title }}
          </a>
        </h3>
        <p>
          {{ post.excerpt }}
        </p>
      </article>
    {% endfor %}

    <small>
      <a href="/writing.html">Read more of my blog posts.</a>
    </small>

    <h2>
      Recent Notes
    </h2>

    {% for note in site.notes reversed %}
      {% if forloop.index < 3 %}
        <article class="card">
          <h3 class="mt-4">
            <a href="{{ note.url }}">
              {{ note.date | date: '%B %d, %Y' }}
            </a>
          </h3>

          {{ note.content | markdownify }}
        </article>
      {% endif %}
    {% endfor %}

    <small>
      <a href="/notes.html">Read more of my notes.</a>
    </small>
  </section>
</div>
