---
layout: page
title: Notes
tagline: Personal quips and nonsensical snippets
no_wrapper: true
---

<div class="p-4 mb-4 shadow-md bg-white">
  {% include drawings/notes_on_wall.svg %}
</div>

<section>
  {% assign notes = site.notes | sort: 'date' | where_exp:"note", "note.date < site.time" | reverse %}
  {% for note in notes %}
    <article class="card">
      <h2 class="mt-4">
        <a href="{{ note.url }}">
          {{ note.date | date: '%B %d, %Y' }}
        </a>
      </h2>

      {{ note.content | markdownify }}
    </article>
  {% endfor %}
</section>
