---
layout: page
title: Notes
tagline: Personal quips and nonsensical snippets
no_wrapper: true
---

<div class="">
  {% include drawings/notes_on_wall.svg %}
</div>

<section>
  {% assign notes = site.notes | sort: 'date' | where_exp:"note", "note.date < site.time" | reverse %}
  {% for note in notes %}
    {% assign title = note.date | date: '%B %d, %Y' %}
    {% assign content = note.content | markdownify %}

    {% include card.html
      title=title
      excerpt=content
      external=false
      url=note.url
    %}
  {% endfor %}
</section>
