---
layout: page
title: Portfolio
tagline: Collections of code from projects past
---

{% include drawings/programmer.svg %}

<p>
  Outside of my job, I do most of my programming on CodePen or Github. Below you can see pieces of collections I've worked on.
</p>

<h2>
  My Experimental Pens
</h2>

<p>
  Codepen is often about making bizarre things with front-end code, and rightfully so. I go crazy on the front-end on ocassion myself.
</p>

<iframe src="https://codepen.io/tv/Xveemr" class="w-full" height="500" frameborder="0"></iframe>

<h2>
  My Game Pens
</h2>

<p>
  Who doesn't like games? Everyone loves games! Making different games or playful tools is a great way to play around with different JavaScript tools and frameworks.
</p>

<iframe src="https://codepen.io/tv/nRggVj" class="w-full" height="500" frameborder="0"></iframe>

<h3>
  My Other Projects
</h3>

<p>
  Not all my other work can be limited to CodePen. Several are live sites or Github repos you can pull and use yourself.
</p>

<ul class="card-wrapper list-reset">
  {% for portfolio in site.data.portfolio %}
    <li class="card pb-4">
      {% if portfolio.image %}
        <img src="/assets/images/portfolio/{{ portfolio.image }}" alt="">
      {% endif %}
      <h4 class="mt-3">
        <a href="{{ portfolio.link }}" target="_blank" rel="noopener">{{ portfolio.name }}</a>
      </h4>

      <p class="mb-0">
        {{ portfolio.description }}
      </p>
    </li>
  {% endfor %}
</ul>
