---
layout: page
title: Work
tagline: Collections of code from projects past
---

{% include drawings/programmer.svg %}

<p>
  You can see big collections of work I've done on my CodePen or Github profiles. If you don't want to search through those profiles for the good stuff, I've selected some of my favorites below.
</p>

<p>
  You can also get more context and <a href="/now.html">see everything I'm working on now at my Now page</a>.
</p>

<h2>
  Finished Side Projects
</h2>

<p>
  I don't often focus on big projects, but still have a few I host and want to show off. Just know some of them are older and not reflective of my current skills.
</p>

<ul class="">
  {% for portfolio in site.data.portfolio %}
    <li class="">
      {% if portfolio.image %}
        <img src="/assets/images/portfolio/{{ portfolio.image }}" alt="">
      {% endif %}
      <h4 class="">
        <a href="{{ portfolio.link }}" target="_blank" rel="noopener">{{ portfolio.name }}</a>
      </h4>

      <p class="">
        {{ portfolio.description }}
      </p>
    </li>
  {% endfor %}
</ul>


<h2>
  Small CodePen Projects
</h2>

<p>
  For all my ideas that can't fill out a repo or a URL, I spin them up on CodePen and may save them to some choice collections below.
</p>

<h4>
  Experimental
</h4>

<iframe src="https://codepen.io/tv/Xveemr" class=""></iframe>

<h4>
  Games
</h4>

<iframe src="https://codepen.io/tv/nRggVj" class=""></iframe>

<h4>
  Fun Patterns
</h4>

<iframe src="https://codepen.io/tv/DYQQVx" class=""></iframe>
