---
layout: page
title: Work
tagline: Collections of code from projects past
---

{% include drawings/programmer.svg %}

<p>
  You can see big collections of work I've done on my CodePen or Github profiles. If you don't want to search through those profiles for the good stuff, I've selected some of my favorites below.
</p>

<p>
  You can also get more context and <a href="/now.html">see everything I'm working on now at my Now page</a>.
</p>

<h2>
  Finished Side Projects
</h2>

<p>
  I don't often focus on big projects, but still have a few I host and want to show off. Just know some of them are older and not reflective of my current skills.
</p>

<section>
  {% for portfolio in site.data.portfolio %}
    {% include card.html
      title=portfolio.name
      excerpt=portfolio.description
      image_subpath="portfolio"
      image=portfolio.image
      external=true
      link=portfolio.link
    %}
  {% endfor %}
</section>
