---
layout: page
title: Writing
tagline: Musings written down for safekeeping
---

{% assign all_tags = '' %}

{% for tag in site.tags %}
  {% if forloop.first == true %}
  {% assign all_tags = all_tags | append: tag[0] %}
  {% else %}
    {% assign all_tags = all_tags | append: '|' | append: tag[0] %}
  {% endif %}
{% endfor %}

{% assign all_tags_array = all_tags | split: '|' | sort %}

{% include drawings/large_book.svg %}

<p>
  You can either scroll down for a straight archive or all my archive, or click one of the below tags to see writing from a specific category.
</p>

{% include tags.html
  tags=all_tags_array
  wrapper_classes=''
  tag_classes=''
  link_classes=''
%}

<section class="">
  {% for post in site.posts %}
    {% include card.html
      title=post.title
      excerpt=post.excerpt
      image=post.image
      external=post.external
      link=post.link
      url=post.url
      tags=post.tags
    %}
  {% endfor %}
</section>
