---
layout: page
title: Writing
tagline: Musings written down for safekeeping
body_class: body--posts-list
---

{% assign all_tags = '' %}

{% for tag in site.tags %}
  {% if forloop.first == true %}
  {% assign all_tags = all_tags | append: tag[0] %}
  {% else %}
    {% assign all_tags = all_tags | append: '|' | append: tag[0] %}
  {% endif %}
{% endfor %}

{% assign all_tags_array = all_tags | split: '|' | sort %}

<div class="writing-page__drawing drawing-svg__wrapper">
  {% include drawings/large_book.svg %}
</div>

<p class="writing-page__description">
  You can either scroll down for a straight archive or all my archive, or click one of the below tags to see writing from a specific category.
</p>

{% include tags.html
  tags=all_tags_array
  wrapper_classes='writing-page__tags'
  tag_classes='writing-page__tag'
  link_classes='writing-page__link'
%}

<section class="writing-page__posts">
  {% for post in site.posts %}
    {% include card.html
      title=post.title
      wrapper_class="card--title"
      excerpt=post.excerpt
      image=post.image
      external=post.external
      link=post.link
      url=post.url
      tags=post.tags
    %}
  {% endfor %}
</section>
