// This function pulls specific color values from the below map
@function color($color, $tone: base) {
  @if map-has-key($color-map, $color) {
    @return map-get(map-get($color-map, $color), $tone);
  }
}

// Map for storing all color variables
$color-map: (
  primary: (
    light: #46AFB9,
    dark: #184C51,
  ),

  action: (
    dark: #810413
  ),

  mono: (
    black: #1C2340,
    white: #F4FFFD
  ),
);
