// This function pulls specific color values from the below map
@function color($color, $tone: base) {
  @if map-has-key($color-map, $color) {
    @return map-get(map-get($color-map, $color), $tone);
  }
}

// Map for storing all color variables
$color-map: (
  primary: (
    darkest: #003f32,
    darker: #015a4f,
    dark: #057d7e,
    base: #0BB0BE,
    light: #5dbfd6,
    lighter: #bbe0f0,
    lightest: #c1d8e2
  ),

  action: (
    darker: #7c0502,
    dark: #a10e06,
    base: #EA1D0C,
    light: #f3856f,
    lighter: #f9bfa6
  ),

  mono: (
    black: #111111,
    white: #f4fefd
  )
);
