@function derive-rgb-values-from-hex($hex) {
  @return red($hex), green($hex), blue($hex);
}

$primary-darker: #026754;
$primary-lightest: #d0effa;

:root {
  --color-primary-darkest: #00392a;
  --color-primary-darker: #{$primary-darker};
  --color-primary-dark: #07a291;
  --color-primary-base: #0BBEB7;
  --color-primary-light: #65cdd5;
  --color-primary-lighter: #a6dee8;
  --color-primary-lightest: #{$primary-lightest};

  --color-action-darker: #7c0502;
  --color-action-dark: #a10e06;
  --color-action-base: #EA1D0C;
  --color-action-light: #f3856f;
  --color-action-lighter: #f9bfa6;

  --color-mono-black: #111111;
  --color-mono-white: #f4fefd;

  --color-shadow-dark: #{derive-rgb-values-from-hex($primary-darker)};
  --color-shadow-light: #{derive-rgb-values-from-hex($primary-lightest)};
}

// This function pulls specific color values from the below map
@function color($color, $tone: base) {
  @if map-has-key($color-map, $color) {
    @return map-get(map-get($color-map, $color), $tone);
  }
}

// Map for storing all color variables
$color-map: (
  primary: (
    darkest: var(--color-primary-darkest),
    darker: var(--color-primary-darker),
    dark: var(--color-primary-dark),
    base: var(--color-primary-base),
    light: var(--color-primary-light),
    lighter: var(--color-primary-lighter),
    lightest: var(--color-primary-lightest)
  ),

  action: (
    darker: var(--color-action-darker),
    dark: var(--color-action-dark),
    base: var(--color-action-base),
    light: var(--color-action-light),
    lighter: var(--color-action-lighter)
  ),

  mono: (
    black: var(--color-mono-black),
    white: var(--color-mono-white)
  ),

  shadow: (
    dark: var(--color-shadow-dark),
    light: var(--color-shadow-light)
  )
);
