@import "../_tools/calc";
// All variables related to the grid, including breakpoints

$g-grid-columns: 12;

// For pulling specific breakpoint width values out.
// Not for adding breakpoint styles.
@function breakpoint($width) {
  @if map-has-key($breakpoint-map, $width) {
    @return map-get($breakpoint-map, $width);
  }
}

// Map for the breakpoints and max width
$breakpoint-map: (
  xs: 0,
  sm: rem(480px),
  md: rem(600px),
  lg: rem(720px),
  xl: rem(850px),
  xxl: rem(1000px),
  xxxl: rem(1200px)
);
