{% assign title = include.title %}
{% assign date = include.date %}
{% assign excerpt = include.excerpt %}
{% assign image = include.image %}
{% assign image_subpath = "featured" %}
{% assign url = include.url %}
{% assign link = include.link %}
{% assign tags = include.tags %}
{% assign background_image = "background-image: url('/assets/images/" | append: image_subpath | append: "/" | append: image | append: "');" %}

<article class="card card--layout-item box-shadow-2 {% if image %}bg-primary-light{% else %}bg-topography--light{% endif %}" {% if image %}style="{{ background_image }}"{% endif %}>
  <div class="card__body px-4 py-px">
    <tiny class="block mt-2 mb-0 italic">
      {{ date | date: '%B %d, %Y' }}
    </tiny>
    <h3 class="card__header mt-2">
      <a href="{{ url }}">
        {{ title }}
      </a>
    </h3>

    {% if image %}
      <div class="card__banner" style="{{ background_image }}"></div>
    {% endif %}

    {% if excerpt %}
      <p class="card__excerpt mt-auto">
        {{ excerpt }}
      </p>
    {% endif %}
  </div>

  {% if tags %}
    {% include tags.html
      tags=tags
      wrapper_classes='card__tags px-2 py-1 bg-action-dark flex-justify-end'
      tag_classes='mb-0 bg-mono-white'
    %}
  {% endif %}
</article>
