{% assign title = include.title %}
{% assign excerpt = include.excerpt %}
{% assign image = include.image %}
{% assign image_subpath = include.image_subpath | default: "featured" %}
{% assign external = include.external %}
{% assign url = include.url %}
{% assign link = include.link %}
{% assign tags = include.tags %}

<article class="card box-shadow-2 bg-blue-light" {% if image %}style="background-image: url('/assets/images/{{ image_subpath }}/{{ image }}'); box-shadow:inset 0 0 0 1000px rgba(227,251,252,0.91),0 .25rem .5rem rgba(8,4,1,0.14),0 0 .5rem rgba(8,4,1,0.22);"{% endif %}>
  <div class="px-4 py-px">
    <h3 class="card__header mt-4">
      {% if external %}
        <a href="{{ link }}" target="_blank" rel="noopener">
      {% else %}
        <a href="{{ url }}">
      {% endif %}
        {{ title }}
      </a>
    </h3>
    {% if excerpt %}
      <p class="card__excerpt">
        {{ excerpt }}
      </p>
    {% endif %}
  </div>

  {% if tags %}
    {% include tags.html
      tags=tags
      wrapper_classes='card__tags p-2 bg-blue-dark flex-justify-end'
      tag_classes='mb-0 bg-mono-white'
      link_classes='text-tiny'
    %}
  {% endif %}
</article>
