{% assign title = include.title %}
{% assign excerpt = include.excerpt %}
{% assign image = include.image %}
{% assign image_subpath = include.image_subpath | default: "featured" %}
{% assign external = include.external %}
{% assign url = include.url %}
{% assign link = include.link %}
{% assign tags = include.tags %}

<article class="mb-10 shadow-lg border-l-4 border-teal-dark bg-blue-light">
  {% if image %}
    <img class="max-w-none" src="/assets/images/{{ image_subpath }}/{{ image }}" alt="">
  {% endif %}

  <div class="px-4 py-px">
    <h3 class="mt-4">
      {% if external %}
        <a href="{{ link }}" target="_blank" rel="noopener">
      {% else %}
        <a href="{{ url }}">
      {% endif %}
        {{ title }}
      </a>
    </h3>
    <p>
      {{ excerpt }}
    </p>
  </div>

  {% if tags %}
    {% include tags.html
      tags=tags
      wrapper_classes='p-2 bg-blue-dark border-l-4 border-blue-light justify-end'
      tag_classes='mb-0 bg-white'
      link_classes='text-xxxs'
    %}
  {% endif %}
</article>
