<footer class="w-full py-2 text-white bg-teal-darker shadow-lg">
  <div class="flex flex-wrap max-w:md px-4 px-6:md my-4 mx-auto">
    <div class="w-full w-3/4:md pr-8:md pr-12:lg">
      <p class="text-sm">
        I’m Max Antonucci, a front-end developer in New Haven, CT. Writing is most of my life, whether it’s code, words, or tweets. The rest is reading, boxing, philosophizing, and breathing.
      </p>

      <p class="text-sm">
        See all my (hopefully) useful notes on programming, non-fiction, fiction, life, and whatever else on <a href="https://maxx1128.gitbook.io/study-notebook/" target="_blank" rel="noopener">my online notebook.</a>
      </p>
    </div>
  </div>
</footer>
