<footer class="footer">
  <div class="footer__content-wrapper">
    {% unless page.title == 'About Me' %}
      <img class="logo logo--footer" src="/assets/images/global/profile.jpg" alt="" />

      <h2 class="footer__title">
        About Myself
      </h2>

      <p class="footer__descriptor">
        I'm Max Antonucci, a front-end developer from Connecticut. I work at SeeClickFix, a civic tech app that lets citizens report local issues to municipal governments. I also enjoy writing, reading, boxing, video games, and escaping our shared physical reality to a realm of pure energy. Then doing some more reading.
      </p>
    {% endunless %}

    <div class="footer__link-groups">
      <div class="footer__link-group">
        <h3 class="footer__link-group-title">
          Explore my Site
        </h3>

        <ul class="footer__link-group-list">
          {% for menu in site.data.menu %}
            <li class="footer__link-group-item">
              <a class="footer__link-group-link" href="{{ menu.link }}" {% if menu_item.external %}target="_blank" rel="noopener"{% endif %}>
                {{ menu.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer__link-group">
        <h3 class="footer__link-group-title">
          Find me on the Interwebs
        </h3>

        <ul class="footer__link-group-list">
          {% for social in site.data.social %}
            <li class="footer__link-group-item">
              <a class="footer__link-group-link" href="{{ social.url }}" target="_blank" rel="noopener">
                {{ social.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</footer>
