<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="shortcut icon" href="/assets/images/global/favicon.ico" />

  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="thumbnail" content="../../img/home/bg.jpg" />
  <meta property="og:image" content="../../img/home/bg.jpg"/>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="p:domain_verify" content="0b12e07a4feaad3b7aa48fee8ecae8db"/>

  {% if page.url == "/404.html" %}
      <meta http-equiv="refresh" content="3; url=/">
  {% endif %}

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <style type="text/css">
    {% include main.css %}
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,400i,700');
  </style>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">


  <!-- Open Graph data -->
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:summary" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:site_name" content="maxwellantonucci.com" />
  <meta property="og:image" content="{% if page.featured-img %}{{ page.featured-img | prepend: site.url }}{% else %}{{ "/assets/images/global/profile.jpg" | prepend: site.url }}{% endif %}"/>
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="300" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@Maxwell_Dev">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:summary" content="{% if page.excerpt %}{{ page.excerpt }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="twitter:image" content="{% if page.featured-img %}{{ page.featured-img | prepend: site.url }}{% else %}{{ "/assets/images/global/profile.jpg" | prepend: site.url }}{% endif %}"/>
  <meta name="twitter:creator" content="@Maxwell_Dev">

  <link type="application/atom+xml" rel="alternate" href="{{ site.url }}/rss.xml" title="Max Antonucci">

  <script type="text/javascript" src="{{ '/js/bundle.js' | prepend: site.baseurl }}" charset="utf8" ></script>
</head>
