<div class="bg-black">
  <nav class="max-w-md mx-auto px-2 md:px-4">
    <ul class="list-reset flex flex-wrap mb-0 text-xs content-end">
      {% for menu_item in site.data.menu %}
        {% if menu_item.link == page.url %}
          {% assign active_page = true %}
          {% assign current_page = true %}
        {% elsif page.path contains 'posts' and menu_item.link == '/writing.html' %}
          {% assign active_page = true %}
          {% assign current_page = false %}
        {% elsif page.path contains 'notes' and menu_item.link == '/notes.html' %}
          {% assign active_page = true %}
          {% assign current_page = false %}
        {% else %}
          {% assign active_page = false %}
          {% assign current_page = false %}
        {% endif %}

        <li class="inline-block mb-0 px-2 py-1 {% if forloop.first == true %}mr-auto{% endif %}">
          <a class="text-white {% if active_page %}font-bold{% endif %}" href="{% if current_page %}#content{% else %}{{menu_item.link}}{%endif%}">
            {{ menu_item.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
