<button
  hidden
  id="menu-toggle"
  class="nav__toggle"
  aria-expanded="false"
  aria-label="Navigation toggle button">
    Menu
</button>

<nav id="menu" class="nav__menu nav__menu--default">
  <div class="nav__meta">
    <h1 class="nav__meta-title">
      Max Antonucci
    </h1>

    <img class="nav__meta-image" src="/assets/images/global/profile.jpg" alt="Maxwell's profile picture"/>

    <p class="nav__meta-description">
      {{site.description}}
    </p>
  </div>

  <ul class="nav__links">
    {% for menu_item in site.data.menu %}
      {% if menu_item.link == page.url %}
        {% assign active_page = true %}
        {% assign current_page = true %}
      {% elsif page.path contains 'tag' and menu_item.link == '/writing.html' %}
        {% assign active_page = true %}
        {% assign current_page = false %}
      {% elsif page.path contains 'posts' and menu_item.link == '/writing.html' %}
        {% assign active_page = true %}
        {% assign current_page = false %}
      {% elsif page.path contains 'notes' and menu_item.link == '/notes.html' %}
        {% assign active_page = true %}
        {% assign current_page = false %}
      {% else %}
        {% assign active_page = false %}
        {% assign current_page = false %}
      {% endif %}

      <li class="nav__link-item">
        <a class="nav__link" href="{% if current_page %}#content{% else %}{{menu_item.link}}{%endif%}" {% if menu_item.external %}target="_blank" rel="noopener"{% endif %}>
          {{ menu_item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <ul class="nav__social-links">
    {% for social in site.data.social %}
      <li class="nav__social-link-item">
        <a class="nav__social-link" href="{{ social.url }}" target="_blank" rel="noopener">
          {{ social.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
