$share-base-color: #a91b0d;

@mixin svg-hover-color($color) {
  &:hover,
  &:focus,
  &:active {
    & svg {
      fill: $color;
    }
  }
}

.share-buttons {
  border-left: 3px solid $share-base-color;
}

.share-buttons__cta {
  padding-right: 8px;

  color: $share-base-color;
}

.share-buttons,
.share-buttons__buttons {
  display: flex;
  align-items: center;
}

.share-buttons__button {
  display: flex;
  margin-right: 2px;
  height: 36px;
  width: 32px;
  align-items: center;
  justify-content: center;
}

.share-buttons__svg {
  height: 24px;
  fill: $share-base-color;
}

.share-buttons__button--facebook {
  @include svg-hover-color(#3B5998)
}

.share-buttons__button--twitter {
  @include svg-hover-color(#55ACEE)
}

.share-buttons__button--linkedin {
  @include svg-hover-color(#0077b5)
}

.share-buttons__button--pinterest {
  @include svg-hover-color(#CB2027)
}

.share-buttons__button--mail {
  @include svg-hover-color(#7D7D7D)
}
