body {
  display: grid;
  grid-template-columns: 1fr;

  @screen md {
    height: 100vh;
    overflow-y: hidden;
    grid-template-columns: 235px 1fr;
  }
}

main {
  max-height: 100vh;
  overflow-y: scroll;
}

nav {
  @screen md {
    height: 100vh;
    overflow-y: hidden;
  }
}

.resp-max-width {
  @apply .max-w-md .mx-auto .p-4;

  @screen md {
    @apply .px-6
  }

  @screen xxl {
    @apply .max-w-lg;
  }
}
