h1,
h2,
h3,
h4,
h5,
h6 {
  @apply .mt-8 .mb-4 .leading-tight;
  font-family: 'Montserrat', sans-serif;
}

tiny {
  @apply .text-xs;
}

small {
  @apply .text-sm;
}

h6,
p,
ol,
ul {
  @apply .text-base;
}

h5 {
  @apply .text-lg;
}

h4 {
  @apply .text-xl;
}

h3 {
  @apply .text-2xl;
}

h2 {
  @apply .text-3xl;
}

h1 {
  @apply .text-4xl;
}

p,
ol,
ul,
small,
tiny {
  @apply .mb-4 .leading-normal;
}

ol,
ul {
  @apply .pl-5;
}

li {
  @apply .mb-2;
}

a {
  @apply .text-orange-dark;
}
