blockquote {
  padding: spacing();
  margin: spacing(8) 0;

  font-style: italic;
  color: color(primary, lightest);

  background: color(primary, dark);
  box-shadow: container(box-shadow, 2);

  a {
    color: color(primary, lightest);
  }

  & > p {
    margin-bottom: 0;
  }
}

.twitter-tweet {
  margin: 0 auto 1rem;
}
