.card-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@include larger-than(lg) {
  .card--layout-item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .card__tags {
      margin-top: auto;
    }
  }
}

@supports (display: grid) {
  .card-layout {
    display: grid;
    grid-gap: spacing();
    grid-template-columns: 1fr;
    grid-auto-flow: dense;

    .card {
      margin: 0;
      grid-column: span 1;
    }

    .card__banner {
      display: block;
    }

    .card__banner + .card__excerpt {
      padding-top: spacing();
    }
  }

  @include larger-than(lg) {
    .card-layout {
      grid-template-columns: repeat(2, 1fr);
    }

    .card--layout-item:nth-of-type(5n+1) {
      grid-column: span 2;
    }
  }

  @include larger-than(xl) {
    .card-layout {
      grid-template-columns: repeat(3, 1fr);
    }

    .card--layout-item {
      &:nth-of-type(5n+3),
      &:nth-of-type(5n+4) {
        .card__banner {
          display: none;
        }
      }

      &:nth-of-type(5n+1) {
        grid-column: span 3;

        .card__banner {
          min-height: 12rem;
        }
      }

      &:nth-of-type(5n+2),
      &:nth-of-type(5n+5) {
        grid-column: span 2;
      }
    }
  }

  @include larger-than(xxl) {
    .card-layout {
      max-width: breakpoint(xl);
    }
  }
}
