.header--with-image {
  box-shadow: container(box-shadow, 2);
  background-position: center;
  background-size: cover;
  background-image: url("/assets/images/global/header-default.jpg");

  box-shadow: inset 0 0 0 1000px rgba(color(shadow, light), 0.935);
}
