nav {
  background-image: url('/assets/images/navs/1.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.85);
}

.nav__main-menu {
  background-color: rgba(#005661, 0.75);
}
