.nav__main-menu {
  font-size: type(font-size, small);
}

.nav__main-menu-wrapper {
  @include larger-than(md) {
    $lighter-bg: tint(color(primary, dark), 17.5%);
    background: linear-gradient(90deg, color(primary, dark) 0%, $lighter-bg 25%, color(primary, dark) 50%, $lighter-bg 75%, color(primary, dark) 100%);
  }
}

.nav__toggle-menu {
  display: none;

  font-size: type(font-size, small);

  border-width: 0;
}

.navigation--with-js {
  .nav__toggle-menu {
    display: block;
    padding: spacing();
    margin-left: auto;

    text-align: right;
    color: color(mono, white);
    font-weight: type(font-weight, bold);
    font-style: italic;

    cursor: pointer;

    @include larger-than(md) {
      display: none;
    }
  }

  .nav__main-menu {
    flex-direction: column;

    font-size: type(font-size, large);

    @include larger-than(md) {
      flex-direction: row;

      font-size: type(font-size, small);
    }
  }

  .nav__main-menu--collapsed {
    @include smaller-than(md) {
      display: none;
    }
  }
}
