$note-colors: (
  // Vaporeon
  1: (
    color: #104a62,
    background-color: #83deff
  ),
  // Jolteon
  2: (
    color: #ffff8b,
    background-color: #836a29
  ),
  // Flareon
  3: (
    color: #C52B3D,
    background-color: #ffeea4
  ),
  // Espeon
  4: (
    color: #EEBDEE,
    background-color: #314173
  ),
  // Umbreon
  5: (
    color: #414152,
    background-color: #eed552
  ),
  // Glaceon
  6: (
    color: #415a6a,
    background-color: #94e6ee
  ),
  // Leafeon
  7: (
    color: #eed59c,
    background-color: #31625a
  )
);

@mixin note-colors($text, $bg) {
  color: $text;
  background-color: $bg;

  a {
    color: mix(white, $text, 30%);
  }

  blockquote {
    color: $bg;
    background-color: $text;

    a {
      color: mix(black, $bg, 30%);
    }
  }
}

@each $index, $styles in $note-colors {
  $text: map-get($styles, color);
  $bg: map-get($styles, background-color);
  $length: length($note-colors);

  .note:nth-of-type(#{$length}n+#{$index}) {
    @include note-colors($text, $bg);
  }

  .note:nth-of-type(#{$length}n+#{$index + $length}) {
    @include note-colors($bg, $text);
  }
}
