$abs-pos-keys: (
  t: top,
  r: right,
  b: bottom,
  l: left
);

.relative { position: relative; }
.absolute { position: absolute; }
.static { position: static; }
.fixed { position: fixed; }

.transY-base {
  transform: translateY(0%);
  transition: 0.5s;
}

.transY-below {
  transform: translateY(100%);
  transition: 0.5s;
}

.transY-above {
  transform: translateY(-100%);
  transition: 0.5s;
}

@each $abs-key, $abs-prop in $abs-pos-keys {
  @each $space-label, $space-val in $spacing-map {
    .abs-#{$abs-key}-#{$space-label} { #{$abs-prop}: $space-val; }
  }
}
