---
layout: page
title: Notes
tagline: Personal quips and nonsensical snippets
no-max-width: true
no-padding: true
pagination:
  enabled: true
  collection: notes
---

<div class="pt-4 resp-max-width">
  <p>
    Sometimes I want to write things that can't work as a blog post, I don't want to lose amid Twitter, or don't make any sense. For all these stream of conscious, I have my Notes section. They have lots of colors to match how across the board they get.
  </p>

  <p>
    Keep scrolling to read my notes in order. <a class="hidden" id="random-note-link">Or surprise yourself with a random note.</a>
  </p>
</div>

<section id="notes">
  {% assign notes = paginator.posts | where_exp:"note", "note.date < site.time" %}
  {% for note in notes %}
    {% include note.html
      date=note.date
      content=note.content
      url=note.url
      index=forloop.index
    %}
  {% endfor %}
</section>

<div class="resp-max-width">
  {% include paginationlinks.html
    paginator=paginator
  %}
</div>
