<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <a href="#content" class="skip-to-content inline-block p-2 bg-mono-white z-dropdown">
      Skip To Content
    </a>

    {% include nav.html %}

    <main>
      {{ content }}
    </main>

    <script type="text/javascript" src="{{ site.url | append: '/assets/js/shuffleNotes.js' }}" charset="utf8" ></script>
    <script type="text/javascript" src="{{ site.url | append: '/assets/js/mobileMenu.js' }}" charset="utf8" ></script>
  </body>

  <script>
    if (navigator.serviceWorker) {
      navigator.serviceWorker.register('/serviceworker.js')
        .catch((error) => console.error('Failed to register service worker', error));
    }
  </script>
</html>
