<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <a href="#content" class="skip-to-content inline-block p-2 bg-mono-white z-dropdown">
      Skip To Content
    </a>

    {% include themeswitcher.html %}

    {% include nav.html %}

    <main class="{% if page.postLabel == 'Note' %}note-styler note-styler--page note-coloring--4{% endif %} flex flex-column">
      {{ content }}

      {% include pageNavigation.html %}
    </main>

    {% include footer.html %}
    {% include footerscripts.html %}
  </body>

  {% include serviceWorker.html %}
</html>
