---
layout: default
---

{% if page.image %}
  {% assign banner_image = "/assets/images/featured/" | append: page.image | prepend: site.url %}
{% endif %}

<header class="{% if page.image %}header-with-image{% endif %} w-full pb-2 px-4 text-white bg-teal-dark" {% if page.image %}style="background-image: url('{{ banner_image }}')"{% endif %}>
  <div class="relative max-w-md mx-auto pt-2">
    {% if page.postLabel %}
      <span class="category-tag absolute pin-t pin-r ml-4 py-1 px-2 text-xxs leading-none italic border-2 border-t-0 border-blue-light rounded-b">
        {{ page.postLabel }}
      </span>
    {% endif %}

    <h1 class="my-4">
      {% if page.postLabel == "Note" %}
        {{ page.date | date: '%B %d, %Y' }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </h1>

    {% if page.tagline %}
      <div class="text-1xl italic pb-4">
        {{ page.tagline }}
      </div>
    {% endif %}
  </div>

  {% if page.excerpt %}
    <p class="max-w-md mx-auto text-xs italic font-light">
      {{ page.excerpt }}
    </p>
  {% endif %}
</header>

<article id="content" class="w-full max-w-md mx-auto {% unless page.no_wrapper %}px-4 py-6 xl:px-6 xl:my-6 bg-white shadow-lg{% else %}md:px-4 md:my-4 xl:px-0{% endunless %}">
  {{content}}
</article>
