---
layout: default
---

{% if page.image %}
  {% assign banner_image = "/assets/images/featured/" | append: page.image | prepend: site.url %}
{% endif %}

<header class="">
  <div class="">
    {% if page.postLabel %}
      <span class="">
        {{ page.postLabel }}
      </span>
    {% endif %}

    <h1 class="">
      {% if page.postLabel == "Note" %}
        {{ page.date | date: '%B %d, %Y' }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </h1>

    {% if page.tagline %}
      <div class="">
        {{ page.tagline }}
      </div>
    {% endif %}
  </div>

  {% if page.excerpt %}
    <p class="">
      {{ page.excerpt }}
    </p>
  {% endif %}
</header>

{% if page.tags and page.postLabel != "Note" %}
  <div class="">
    {% include tags.html
      tags=page.tags
      wrapper_classes=''
      tag_classes=''
      link_classes=''
    %}
  </div>
{% endif %}

<article id="content" class="">
  {{content}}
</article>
