---
layout: default
---

{% if page.image %}
  {% assign banner_image = "/assets/images/featured/" | append: page.image | prepend: site.url %}
{% else %}
  {% assign banner_image = false %}
{% endif %}

{% if page.date and page.postLabel != "Note" %}
  {% assign has_date = true %}
{% else %}
  {% assign has_date = false %}
{% endif %}

<header class="{% if page.image %}header-with-image{% else %}bg-topography--dark{% endif %} width-100 py-3 text-mono-white" {% if page.image %}style="background-image: url('{{ banner_image }}')"{% endif %}>
  <div class="resp-max-width">
    <div class="relative py-4">
      {% if page.postLabel %}
        <small class="block mb-2 font-weight-bold">
          {{ page.postLabel }}{% if has_date %} from {{ page.date | date: '%B %d, %Y' }}{% endif %}
        </small>
      {% endif %}

      <h1 class="my-0">
        {% if page.postLabel == "Note" %}
          {{ page.date | date: '%B %d, %Y' }}
        {% else %}
          {{ page.title }}
        {% endif %}
      </h1>

      {% if page.tagline %}
        <p class="mb-0 mt-2 text-1xl italic">
          {{ page.tagline }}
        </p>
      {% endif %}
    </div>

    {% if page.excerpt and page.excerpt != '' %}
      <p class="py-0 mt-4 mb-2 text-small italic font-weight-light">
        {{ page.excerpt }}
      </p>
    {% endif %}
  </div>
</header>

{% if page.tags and page.postLabel != "Note" %}
  <div class="bg-action-dark">
    <div class="resp-max-width flex flex-justify-between py-2 px-4 md--px-6">
      {% if page.featured_image_link %}
        <a rel="noopener" class="text-mono-white hidden-sm-down md--inline-block" href="{{ page.featured_image_link }}" target="_blank">
          <tiny>
            Featured image courtesy of this page.
          </tiny>
        </a>
      {% endif %}

      {% include tags.html
        tags=page.tags
        wrapper_classes='mb-0 ml-auto flex-justify-end'
        tag_classes='mb-0 bg-mono-white'
        link_classes='text-tiny'
      %}
    </div>
  </div>
{% endif %}

<article id="content" class="width-100 {% unless page.no-padding %}py-4 sm--py-6 lg--mt-4{% endunless %} {% unless page.no-max-width %}resp-max-width mx-auto{% endunless %}">
  {{content}}
</article>
