.logo {
  max-width: 200px;
  float: right;
}

.logo--footer {
  margin-bottom: spacing();
  margin-left: spacing();
  max-width: 150px;

  border-radius: 100%;

  @include smaller-than(md) {
    display: none;
  }
}
